@using CookShopOnline.Models
@model LoginViewModel
@{ ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LayoutPageIdentity.cshtml"; }

<h1>@ViewBag.Title.</h1>
<div id="login_fields" class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h2>Use a local account to log in.</h2>
                <br />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        <br />
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        <br />
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">

                            <b style="background-color:transparent;">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </b>
                        </div>
                    </div>
                </div>
                <input type="submit" value="Log in" class="line_btn" />
                <div style="background-color:transparent; font-weight:bold;">
                    @Html.ActionLink("Register as a new user", "Register")
                </div>
            }
        </section>
    </div>
    <div class="col-md-4" id="login_checkbox">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}