@model CookShopOnline.ViewModels.SingleCustomerAddressTelephoneViewModel

@{
    ViewBag.Title = "CheckOutPayment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="slider_area">
    <div class="bradcam_area latest_trand_area">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-8 ">
                    <div class="slider_text text-center">
                        <div class="text">
                            <h3 style="color:black">Your Shipping Information</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    <body>
        <div id="customerContainer" class="container">
            <h2 class="col-12 ">Your Information</h2>

            <div id="customerRows" class="row">
                <div id="customerInfo1" class="col-6">
                    <p>@Html.DisplayNameFor(model => model.Customer.FirstName):</p>
                    <p>@Html.DisplayNameFor(model => model.Customer.LastName):</p>
                </div>
                <div id="customerInfo2" class="col-6">
                    <p>@Html.DisplayFor(model => model.Customer.FirstName)</p>
                    <p>@Html.DisplayFor(model => model.Customer.LastName)</p>
                </div>
            </div>
            <div id="customerRows" class="row">
                <h2 class="col-12 ">Contact Information</h2>
            </div>
            <div class="row" style="padding:30px;">
                <div id="customerInfo1" class="col-6">
                    <p>@Html.DisplayNameFor(model => model.Address):</p>
                    <p>Phone Numbers:</p>
                </div>
                <div id="customerInfo2" class="col-6">
                    <p>
                        @Html.DisplayFor(model => model.Address.AddressInformation)
                        @Html.DisplayFor(model => model.Address.Details)
                    </p>
                    <p>
                        Mobile: @Html.DisplayFor(model => model.TelephoneNumber.Mobile)
                        <br />
                        Telephone 1: @Html.DisplayFor(model => model.TelephoneNumber.Telephone1)
                        <br />
                        Telephone 2: @Html.DisplayFor(model => model.TelephoneNumber.Telephone2)
                    </p>
                </div>
            </div>

            <input type="submit" value="Submit Order" class="line_btn" />
        </div>
    </body>

}
