<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    @RenderSection("head", required: false)
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Tasty Recipes</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <!-- Place favicon.ico in the root directory -->
    <!-- CSS here -->
    <link rel="stylesheet" href=@Url.Content("~/Content/css/bootstrap.min.css")>
    <link rel="stylesheet" href=@Url.Content("~/Content/css/owl.carousel.min.css")>
    <link rel="stylesheet" href=@Url.Content("~/Content/css/magnific-popup.css")>
    <link rel="stylesheet" href=@Url.Content("~/Content/css/font-awesome.min.css")>
    <link rel="stylesheet" href=@Url.Content("~/Content/css/themify-icons.css")>
    <link rel="stylesheet" href=@Url.Content("~/Content/css/nice-select.css")>
    <link rel="stylesheet" href=@Url.Content("~/Content/css/flaticon.css")>
    <link rel="stylesheet" href=@Url.Content("~/Content/css/gijgo.css")>
    <link rel="stylesheet" href=@Url.Content("~/Content/css/animate.min.css")>
    <link rel="stylesheet" href=@Url.Content("~/Content/css/slick.css")>
    <link rel="stylesheet" href=@Url.Content("~/Content/css/slicknav.css")>
    <link rel="stylesheet" href=@Url.Content("~/Content/css/style.css")>
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>
<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
    <!-- header -->
    @Html.Partial("_HeaderPartial")

    <!-- body -->
    @RenderBody()

    <!-- footer -->
    @Html.Partial("_FooterPartial")

    @RenderSection("scripts", required: false)

</body>
</html>
